/* ------------------------------- 3. Slider Styles ------------------------------- */

#fwslider {
    position: relative;
    width:100%;
    overflow: hidden;
    height:600px;
}

#fwslider .slide {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width:100%;
}

#fwslider .slide img {
    width:100%;
    height:100%;
    
    max-height: 600px;
}

#fwslider .slidePrev {
   
   
    position: absolute;
    top:50%;
    left:-50px;
    
    z-index: 10;
}

#fwslider .slidePrev span {
	background-image: url("images/img-sprite.png");
	width:80px;
	height: 70px;
	float: left;
	background-position:-12px -4px;
	background-repeat: no-repeat;
	cursor: pointer;
}
#fwslider .slideNext {
    position: absolute;
    top:50%;
    right:-50px;
    z-index: 10;
}

#fwslider .slideNext span {
  background-image: url("images/img-sprite.png");
	width:80px;
	height: 70px;
	float: left;
	background-position: -110px -4px;
	background-repeat: no-repeat;
	cursor: pointer;
}

#fwslider .timers {
    height:7px;
    position: absolute;
    bottom:15px;
    left:15%;
    bottom:75%;
    max-width:1500px;
    z-index: 3;

}

#fwslider .timer {
    height:7px;
    width:80px;
    background-color: rgba(255,255,255,.2);
    float:left;
    margin-right: 5px;
}

#fwslider .progress {
    height:7px;
    width:0%;
    background-color:rgba(236, 188, 88,1);
    float:left;
    border-radius: 0;
}

#fwslider .slide_content {
    top:0;
    left:0;
    position: absolute;
    width:100%;
    height:100%;
}

#fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    max-width:1280px;
    margin:10% auto;
}

#fwslider .title {  /* Slider Title Style */
	margin-left:4%;
	text-transform: capitalize;
	color: #fff;
	font-size:3.5em;
	background:rgba(91, 89, 82, 0.4);
	padding:5px 20px;
	float: left;
	font-style: normal;
    font-weight: ;
	text-transform:uppercase;
	border:none;
    line-height:1.5em;
}

#fwslider .description { /* Slider Description Style */
	margin-left:4%;
    opacity: 0;
    color:#ffffff;
    font-size:2em;
    background:rgba(91, 89, 82, 0.4);
    padding:10px;
    clear:both;
    float:left;
    margin-top:3px;
  	font-weight:;
   	text-transform:uppercase;
}
/* ------------------------------- 4. Media Query Max Width 1300, Min Width 720 ------------------------------- */
@media only screen and (min-width:720px) and (max-width: 1300px) {

    #fwslider .slide_content_wrap { margin-left:50px; margin-top:15%;}
    #fwslider .title { font-size:26px; }
    #fwslider .description { /*-- font-size:12px;--*/font-size:1.5em;}

}

/* ------------------------------- 5. Media Query Max Width 719 ------------------------------- */

@media only screen and (max-width:719px) {

    #fwslider .slide_content_wrap { display:none; }
    #fwslider .timers { display:none; }
    #fwslider .slide_content {cursor: pointer;}

}
@media (max-width:1366px){
	#fwslider .description {
		margin-left: 13%;
	}
	#fwslider .title {
		margin-left: 13%;
	}
}