body{
	font-family: 'Exo 2', sans-serif;
	background:#DCDCDC;
}
.clear{clear:both;}/* clear float */
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header-top{
	background:#D2691E;
	height: 40px;
}
.header-top-left{
	width:54.5%;
	float:left;
}
.header-list{
	background:#D2691E;
	width: 100%;
	height:5px;
}
.call{
	margin-top: 2.5px;
}
.box{
	float:left;
	width:20.5%;
	margin-right:10.6%;
}
.box1{
	float:left;
	width:20.5%;
}
.cssmenu{
	float:right;
	color:#96e8fc;
	font-size: 0.9em;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color:#fff;
	display: block;
	margin:10px;
}
.cssmenu li> a:hover {
	color: #ACEAFA;
}
.header-bottom{
	background:#000;
	padding:0.5% 0;
}
.logo{
	float:left;
	margin-right: 6.0%;
}
/*--menu--*/
/* dCodes Framework:(c) TemplateAccess */
.menu{
	float:left;
	margin-top: 6px;
}
/* start menu */
.h_nav h4{
	border-bottom:1px solid rgb(236, 236, 236);
	font-size: 1.3em;
	color: #7D97A3;
	line-height: 1.8em;
	text-transform:capitalize;
	margin-bottom: 4%;
}
.h_nav h4.top{
	margin-top: 12%;
}
.h_nav ul li{
	display: block;
}
.h_nav ul li a{
	display:block;
	font-size: 0.85em;
	color:#777;
	text-transform:capitalize;
	line-height:2em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.h_nav ul li a:hover{
	color:#00405d;
	text-decoration:underline;
}
.header-bottom-left{
	float:left;
	width: 64.5%;
	margin-top:0px;
}
.header-bottom-right{
	float:right;
	width:20%;
	margin-top:0px;
}
.search {
	background:#fff;
	border: 1px solid #ddd;
	position: relative;
	float:left;
	margin:6px 20px 0 0;
}
.search input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:0.85em;
	font-family: 'Exo 2', sans-serif;
	color:#777;
	width:130px;
	padding:7px;
	-webkit-apperance:none;
	margin:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.search input[type="text"]:focus{
	width:150px;
}
.search input[type="submit"] {
	border: none;
	text-indent: -9999px;
	outline:none;
	cursor: pointer;
	background: url("../picture/images/search.png") no-repeat 0px 3px; 
	width:30px;
	height:25px;
	padding:8px;
}	
.search input[type="submit"]:active {
	position:relative;
}
.tag-list{
	float:left;
}
.slide_gal{
	height: 50px;
	width: 250px;
}